<ion-header>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <img src="../../assets/slides/barscodeScaner.jpg" />
      <h2>Zeskanuj kod kreskowy ksiązki</h2>
      <p>i dodaj ją do swojej bibloteki</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/coin.png" />
      <h2>Wymień ksiązke na token</h2>
      <p>Za każda ksiązke która odbierze od Ciebie inny użytkownik aplikacji, dostaniesz od nas jeden token.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/newbook.png" />
      <h2>Wymień token na nową ksiązke</h2>
      <p>Teraz możesz znaleśc w aplikacji nową ksiązke i wymienić ją za wcześniej uzyskany token!</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/slide-1.png" />
      <h2>Gotowy?</h2>
      <ion-button fill="clear" (click)="continue()" >Dalej <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>